<div class="flex justify-center items-center h-screen flex-col">
  <div class="mb-10">
    <h1 class="text-5xl font-bold text-center mt-10 animate-scale-in-center">Filmact</h1>
  </div>
  <div class="flex gap-8">
    <button routerLink="/peliculas" class="relative bg-blue-600 hover:bg-blue-700 text-white text-4xl font-medium py-10 rounded-full transition duration-300 ease-in-out transform hover:scale-105 focus:scale-105 flex justify-center items-center w-96 shadow" style="background-image: url('../../assets/img/fondobotonpeliculas.jpg');">
      <span class="relative z-10">PELICULAS</span>
      <span class="absolute inset-0 bg-gray-900 opacity-50 rounded-full"></span>
    </button>
    <button routerLink="/actores" class="relative bg-blue-600 hover:bg-blue-700 text-white text-4xl font-medium py-10 rounded-full transition duration-300 ease-in-out transform hover:scale-105 focus:scale-105 flex justify-center items-center w-96 shadow" style="background-image: url('../../assets/img/fondobotonactores.jpg');">
      <span class="relative z-10">ACTORES</span>
      <span class="absolute inset-0 bg-gray-900 opacity-50 rounded-full"></span>
    </button>
  </div>
</div>



